*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink-light: #C59DD2;
  --pink-base: #9547A5;
  --pink-dark: #7D298A;
  --pink-low: #3F0F41;

  --blue-light: #73B6D2;
  --blue-base: #358BB9;
  --blue-mid: #2374A4;
  --blue-dark: #144A72;
  --blue-low: #08233C;

  --shape-stroke: #002347;
  --shape-hover: #001933;
  --shape-base: #000F1F;
  --shape-background: #00050A;

  --color-title: #F8FBFB;
  --color-body: #E2E7E9;
  --color-label: #BAC6C9;

  /* Texts */
  --title-lg: 3rem;
  --title-md: 2.5rem;
  --title-sm: 2rem;
  --title-xs: 1rem;

  --subtitle: 2rem;
  --body-lg: 1.25rem;
  --body-md: 1rem;
  --body-sm: .875rem;
  --body-xs: .75rem;

  --text-button: .875rem;
  --text-link: .875rem;
  --text-tag: .625rem;

  --py-base: 1.25rem;
  --px-base: 1.25rem;

  --px-lg: 2rem;
}

html {
  font-family: "Raleway", serif;
  ;
}

body {
  background-color: var(--shape-background);
  background-image: url('../assets/images/hero-background.png');
  background-size: 250%; /* Ajusta a imagem para caber no espaço visível */
  background-attachment: fixed; /* Remove o efeito fixo para evitar cortes */
  background-position: top; /* Posiciona a imagem mais no topo */
  background-repeat: no-repeat;
}

@media (width >= 80em) {
  body {
    background-image: url('../assets/images/hero-background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}