.container {
  --max-width: 375px;
  width: min(var(--max-width), 100% - var(--px-lg) * 2);
  margin-inline: auto;
}

.py-base {
  padding-block: var(--py-base);
}

.px-base {
  padding-inline: var(--px-base);
}

.px-lg {
  padding-inline: var(--px-lg) ;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

@media (width >= 80em) {
  .container {
    max-width: 80em;
  }
}