.container {
  --max-width: 375px;
  width: min(var(--max-width), 100% - var(--px-lg) * 2);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.gap-1 {
  gap: .75rem;
}

.grid {
  display: grid;
}

.py-base {
  padding-block: var(--py-base);
}

.desktop-only {
  display: none;
}

.mobile-only {
  display: initial;
}


@keyframes fadeOut {
  0% {
    opacity: 0; /* Totalmente opaco no início */
  }
  100% {
    opacity: 1; /* Transparente no final */
  }
}

.fade-out {
  animation: fadeOut 2.5s forwards; /* A animação fadeOut dura 2 segundos e mantém o estado final */
}

@media (width >= 80em) {
  .container {
    --max-width: 80rem;
  }

  .desktop-only {
    display: initial;
  }

  .mobile-only {
    display: none;
  }

  .gap-1 {
    gap: 1rem;
  }
}