.container {
  --max-width: 375px;
  width: min(var(--max-width), 100% - var(--px-lg) * 2);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.gap-1 {
  gap: .75rem;
}

.grid {
  display: grid;
}

.py-base {
  padding-block: var(--py-base);
}

.desktop-only {
  display: none;
}

.mobile-only {
  display: initial;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 1); /* Começa completamente escuro */
  z-index: 0; /* Fica acima do conteúdo */
  animation: fadeOut 3s ease-in-out forwards; /* Animação para sumir */
}

@keyframes fadeOut {
  0% {
    opacity: 1; /* Totalmente opaco no início */
  }
  100% {
    opacity: 0; /* Transparente no final */
  }
}

@media (width >= 80em) {
  .container {
    --max-width: 80rem;
  }

  .desktop-only {
    display: initial;
  }

  .mobile-only {
    display: none;
  }

  .gap-1 {
    gap: 1rem;
  }
}